#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  .powerby-box
    overflow: hidden
    padding: 5px 40px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  .power_text
    float: left
    height: 80px
    line-height: 80px
  .power_list
  	float: left
  	li
  	  display: inline-block
  	  text-align: center
  	  height: 80px
  	  width: 100px
  	  a
  	    display: inline-block
  	    height: 20px
  	    line-height: 20px
  	    margin-top: 10px