if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  font-size: 0.9em
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.tagcloud
  a
    margin-right: 5px
    display: inline-block
.widget_links
  a
    margin-right: 5px

.tenfour_info
  .t_info_title
    display: inline-block
    width: 70px
    text-align: right

.w_calendar
  .calendar_top
    position: relative
    height: 30px
    line-height: 30px
    text-align: center
    background: #EEEEEE
    padding: 0 50px
    font-size: 12px
    span
      position: absolute
      top: 5px
      line-height: 20px
      display: inline-block
      height: 20px
      width: 20px
      &:hover
        cursor: pointer
    .up_year
      left: 10px
    .up_month
      left: 30px
    .down_month
      right: 30px
    .down_year
      right: 10px 
  table
    background: #FFFFFF
    width: 100%
    border-collapse: collapse
    td,th
      text-align: center
      width: 14.2857%
      height: 30px
      border: 1px solid #EEEEEE      