<div class="widget-wrap">
  <h3 class="widget-title">友情链接:</h3>
  <div class="widget widget_links">
      <% for (var i in theme.links){ %>
          <a href="<%= theme.links[i] %>" target="_blank"><%= i %></a>
      <% } %>
  </div>
</div>
