<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
  	<div class="power_text">
  		<span>Powered By :</span>
  	</div>
  	<ul class="power_list">
  	  <% for(var i in theme.powerby) { %>
		    <li>
  	  	  <img src="<%= theme.powerby[i].imgurl%>" width="40" height="40" /></br>
  	  	  <a href="<%= theme.powerby[i].src%>" target="_blank"><%= theme.powerby[i].name%></a>
  	  	</li>
  	  <% } %>
  	</ul>
  </div>
</footer>
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','6kyLDG75YAasqxH-iMCk','2.0.0');
</script>