<div class="widget-wrap">
    <h3 class="widget-title">个人信息:</h3>
    <div class="widget">
      <ul class="tenfour_info">
    	<li>
    		<span class="t_info_title">姓名：</span>
    		<span>拾肆(Tenfour)</span>
    	</li>
    	<li>
    		<span class="t_info_title">毕业院校：</span>
    		<span>四川理工学院</span>
    	</li>
    	<li>
    		<span class="t_info_title">电子邮箱：</span>
    		<span><a href="mailto:liaoqingsong@tenfour.cn">liaoqingsong@tenfour.cn</a></span>
    	</li>
    </ul>
    </div>
</div>